@import url("https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap");

/* css reset */
* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}

body {
	background: url("https://images.unsplash.com/photo-1477346611705-65d1883cee1e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1920&q=80");
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: "Comic Neue", cursive;
	color: #ffffff;
	font-size: 19px;
}

form {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 0 10px;
}

/* designing the weather app container */
.container {
	color: #ffffff;
	border-radius: 30px;
	width: 100%;
	max-width: 480px;
	margin: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 25px;
	padding: 15px;
	box-shadow: 0 4px 30px #0000001a;
	backdrop-filter: blur(8.3px);
}

/* designing the search area */
.searchData input {
	width: 85%;
	padding: 8px 10px;
	border-radius: 19px;
	border: none;
	background: #7c7c7c2b;
	font-size: 20px;
	font-family: inherit;
	color: #ffffff;
}

.searchData button {
	cursor: pointer;
	border: none;
	border-radius: 50%;
	height: 40px;
	width: 40px;
	background: #7c7c7c2b;
	color: #ffffff;
	transition: 0.5s ease-in-out;
}

.searchData button:hover {
	background: #7c7c7c6b;
}

.searchData button:active {
	transform: translateY(4px);
	transition: 0.1s ease-in-out;
}
/* designing the city weather data */
.cityWeatherData {
	display: flex;
	flex-direction: column;
	gap: 30px;
	align-items: center;
	width: 100%;
}

.details {
	display: flex;
	align-items: center;
	gap: 30px;
}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
}

.forecast {
	color: #ffffff;
	display: flex;
	gap: 60px;
}

p.forecastPara {
	display: flex;
	flex-direction: column;
}

.card.forecastCard {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}
