@import url("https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap");

/* css reset */
* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}

body {
	background: url("https://images.unsplash.com/photo-1477346611705-65d1883cee1e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1920&q=80");
	/* height: 100vh; */
	/* display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center; */
	font-family: "Comic Neue", cursive;
	color: #ffffff;
	font-size: 19px;
	/* overflow: hidden; */
}

nav {
	max-width: 1440px;
	margin: 20px auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav h1 {
	font-size: 35px;
}

form {
	width: 30%;
	display: flex;
	justify-content: space-between;
	padding: 0 10px;
}

/* designing the weather app container */
.container {
	color: #ffffff;
	border-radius: 30px;
	width: 100%;
	max-width: 640px;
	margin: 60px auto 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 25px;
	padding: 15px;
	box-shadow: 0 4px 30px #0000001a;
	backdrop-filter: blur(8.3px);
}

/* designing the search area */
.searchData input {
	width: 85%;
	padding: 8px 10px;
	border-radius: 19px;
	border: none;
	background: #ffffffd5;
	font-size: 20px;
	font-family: inherit;
	color: #000000d5;
}

.searchData button {
	cursor: pointer;
	border: none;
	border-radius: 50%;
	height: 40px;
	width: 40px;
	background: #ffffffd5;
	color: #000000d5;
	transition: 0.5s ease-in-out;
}

.searchData button:hover {
	background: #7c7c7c6b;
}

.searchData button:active {
	transform: translateY(4px);
	transition: 0.1s ease-in-out;
}
/* designing the city weather data */
.cityWeatherData {
	display: flex;
	flex-direction: column;
	gap: 30px;
	align-items: center;
	width: 100%;
}

.details {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 5px;
}

.city-card {
	font-size: 35px;
}

.temp-card {
	font-size: 80px;
	margin: 10px 0 0 0;
}

.temp-card p {
	display: flex;
	gap: 6px;
}

.main-sup {
	font-size: 30px;
	margin-top: 8px;
}

.condition-card {
	font-size: 33px;
	margin-bottom: 20px;
}

.wind-card {
	display: flex;
	column-gap: 30px;
}

.wind-humid {
	display: flex;
	column-gap: 5px;
}

.sec-sup {
	display: flex;
}
/* CSS for forecast section */
.forecast {
	max-width: 1440px;
	width: auto;
	margin: 5px auto;
	color: #ffffff;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	border-radius: 30px;
	box-shadow: 0 4px 30px #0000001a;
	backdrop-filter: blur(6.3px);
}

.daily-h1 {
	margin: 60px auto 0 auto;
	max-width: 1440px;
}

.forecast p {
	display: flex;
}

.min-temp {
	padding-left: 10px;
	font-size: 14px;
}

p.forecastPara {
	display: flex;
	flex-direction: column;
}

.card.forecastCard {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	max-width: 200px;
	color: #ffffff;
	padding: 30px 10px;
}
